#index_cont, #uno, #dos, #tres, #final {display: none;}
#page {
	width: 100%;
	height: 100%;
	overflow: hidden;
}

#fondo {
	background: url(../images/Fondo.jpg) no-repeat;
	background-size: auto 100%;
	background-position: center;
	background-color: #000;
	width: auto;
	height: 100%;
	overflow: hidden;
}

.inner {
	width: 800px;
	max-height: 605px;
	margin: auto;
}

#index_cont {
	margin-bottom: 25px;
}

#index {
	width: 70px;
	height: 10px;
	margin: auto;
}

.content {
	width: 100%;
}

.item {
	width: 10px;
	height: 10px;
	border-radius: 50%;
	background-color: #45494c;
	margin-left: 20px;
	position: relative;
	float: left;
}

#por {
	width: 250px;
	margin-bottom: 45px;
}

.juan {
	margin-top: 40px;
	height: auto;
	margin: auto;
}

.cuestion {
	margin: auto;
	margin-bottom: 30px;
}

#tp {
	width: 694px;
}

.text {
	width: 370px;
	font-family: 'Montserrat', sans-serif;
	font-size: 18px;
	color: #ffffff;
	line-height: 24px;
	margin: auto;
	text-align: center;
}

.emoji_content {
	height: 165px;
	margin: auto;
	margin-top: 40px;
}

#ep {
	width: 300px;
}

.emoji {
	float: left;
	position: relative;
	width: 100px;
	height: 170px;
	margin-left: 100px;
	cursor: pointer;
}

.uno {
	margin-left: 0px !important;
}

.emoji_img {
	width: 90px;
	margin: auto;
	margin-bottom: 30px;
}

.description {
	font-family: 'Montserrat', sans-serif;
	font-size: 16px;
	color: #ffffff;
	line-height: 24px;
	width: 133px;
	text-align: center;
	position: relative;
    left: -15px;
}

#uno {
	background-color: #11151a;
	height: 560px;
	padding-top: 40px;
}

#pre1 {
	width: 430px;
	margin-bottom: 40px;
}

#t_pr1 {
	width: 555px;
}

.e_pr {
	width: 500px;
}

#pre2 {
	width: 245px;
	margin-bottom: 40px;
}

#dos {
	background-color: #11151a;
	height: 560px;
	padding-top: 40px;
}

#t_pr2 {
	width: 570px;
}  

#pre3 {
	width: 164px;
	margin-bottom: 40px;
}

#t_pr3 {
	width: 737px;
}

#tres {
	background-color: #11151a;
	height: 560px;
	padding-top: 40px;
}

#fin {
	width: 260px;
	margin-bottom: 40px;
}

#t_fin {
	width: 694px;
}

.area_cont {
	width: 345px;
	height: 166px;
	position: relative;
	float: left;
	margin-left: 55px;
}

.area {
	width: 344px;
	height: 110px;
	border: 2px solid #666d70;
	background: #151b26; 
	margin-bottom: 15px;
	color: #ffffff;
}

.boton {
	width: 340px;
	height: 36px;
	border: 2px solid #666d70;
	background: #151b26;
	font-size: 16px;
	color: #ffffff;
	line-height: 28px;
	font-family: 'Montserrat', sans-serif;
	text-align: center;
	cursor: pointer;
}

#index_cont, #cover, #final {		
	margin-top: 90px;
}

@media(max-width: 900px) {
	.inner {
	    width: 750px;
	}
}

@media(max-width: 768px) {
	.inner {
	    width: 600px;
	}

	#t_pr3 {
	    width: 550px;
	}

	#t_pr3 img {
	    width: 550px;
	}

	#tp, #t_fin {
	    width: 590px;
	}

	#tp img, #t_fin img {
	    width: 590px;
	}
}

@media(max-width: 600px) {
	.inner {
	    width: 435px;
	}

	#t_pr3, #t_pr2, #t_pr1 {
	    width: 430px;
	}

	#t_pr3 img, #t_pr2 img, #t_pr1 img {
	    width: 430px;
	}

	#tp, #t_fin {
	    width: 390px;
	}

	#tp img, #t_fin img {
	    width: 390px;
	}

	.emoji {
		margin-left: 50px;
	}

	.e_pr {
	    width: 400px;
	}

	#pre1 {
	    width: 400px;
	}

	#pre1 img {
	    width: 400px;
	}

	.area_cont, .area {
	    width: 245px;
	}

	.boton {
	    width: 241px;
	}

	#ep {
	    width: 250px;
	}
}

@media(max-width: 440px) {
	.inner {
	    width: 300px;
	}

	#t_pr3, #t_pr2, #t_pr1 {
	    width: 300px;
	}

	#t_pr3 img, #t_pr2 img, #t_pr1 img {
	    width: 300px;
	}

	#tp, #t_fin {
	    width: 300px;
	}

	#tp img, #t_fin img {
	    width: 300px;
	}

	.e_pr {
	    width: 280px;
	}

	#pre1 {
	    width: 300px;
	}

	#pre1 img {
	    width: 300px;
	}

	.area_cont, .area {
	    width: 170px;
	}

	.area_cont {
		margin-left: 30px;
	}

	.boton {
	    width: 166px;
	}

	#ep {
	    width: 220px;
	}

	.text {
	    width: 300px;
	    font-size: 14px;
	    line-height: 20px;
	}

	#index_cont, #cover, #final {
	    margin-top: 30px;
	}

	#por {
	    margin-bottom: 30px;
	}

	.cuestion {
	    margin-bottom: 15px;
	}

	.emoji_content {
	    margin-top: 20px;
	}

	.emoji {
	    margin-left: 20px;
	    width: 80px;
	}

	#rifaste .emoji_img img {
		width: 80px;
	}

	#falto .emoji_img img {
		width: 80px;
	}

	#desastre .emoji_img img {
		width: 80px;
	}

	#conquistaste .emoji_img img {
		width: 80px;
	}

	#maso .emoji_img img {
		width: 80px;
	}

	#suck .emoji_img img {
		width: 80px;
	}

	#nunca .emoji_img img {
		width: 80px;
	}

	#otra .emoji_img img {
		width: 80px;
	}

	#mejor .emoji_img img {
		width: 80px;
	}

	.emoji_img {
	    width: 80px;
	    margin-bottom: 15px;
	}

	.description {
		width: 80px;
		left: 0px;
		font-size: 13px;
		line-height: 20px;
	}

	#conquistaste .description {
		width: 106px;
    	left: -15px;
	}

	#no {
		margin-left: 60px;
	}

	#uno, #dos, #tres {
		height: 450px;
	}

	#pre2 {
		margin-bottom: 5px;
	}

	#pre3 {
		margin-bottom: 15px;
	}
}

@media(max-height: 580px) {
	#por {
		width: 150px;
	}

	#por img {
		width: 150px;
	}

	#pre1 {
	    margin-bottom: 20px;
	}

	.area {
		height: 90px;
		margin-bottom: 10px;
	}

	#pre2 {
		width: 185px;
	}

	#pre2 img {
		width: 185px;
	}

	#pre3 {
		width: 100px;
	}

	#pre3 img {
		width: 100px;
	}
}